header {
  padding: 2rem 0;

  a.btn-contact {
    background-color: $cta;
    font-family: LatoRegular;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $white;
    text-transform: uppercase;
    padding: 0.7rem 2rem;
    border: 2px solid $cta;

    i {
      margin-left: 0.5rem;
    }

    &:hover, &:focus {
      background-color: $white;
      color: $cta;
    }
  }
}

.container-fluid {
  padding: 0;
}

.bg-light {
  background: $bg-light;
}

.banner {
  background: $blue;
  padding: 2rem;
  margin-bottom: 4rem;

  h1, p {
    color: $white;
  }

  p {
    font-size: 1.4rem;
  }
}

.intro {
  margin-bottom: 4rem;
}

.project {
  padding: 4rem 2rem;
  position: relative;
  margin-bottom: 2rem;

  %arrow {
    position: relative;
    top: -10px;
  }

  .arrow-left {
    @extend %arrow;
    transform: scaleX(-1);
    left: -20px;
  }

  .arrow-right {
    @extend %arrow;
    right: -20px;
  }
}

.image-link {
  border-radius: 20rem;
  border: 2px solid $white;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  padding: 0;
  transition: border 0.2s ease-in-out;

  &:hover, &:focus {
    border: 2px solid $cta;
  }

  .image {
    display: block;
    border-radius: 20rem;
    width: 100%;
    height: 100%;
  }
}

footer {
   p {
     font-size: 0.8rem;
   }
}

@media (max-width: 767px){
  header {
    a.btn-contact {
      width: 100%;
      margin: 0.5rem;
    }
  }

  .image-link {
    width: 15rem;
    height: 15rem;
    margin: 0 0;
  }

  .arrow-right, .arrow-left {
    display: none;
  }

  .project p {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {

  .project:nth-child(even) {
    h2, p {
      padding-right: 4rem;
    }
  }

  .project:nth-child(odd) {
    h2, p {
      padding-left: 4rem;
    }
  }
}
