header {
  padding: 2rem 0;

  a.btn-contact {
    background-color: $cta;
    font-family: LatoRegular;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $white;
    text-transform: uppercase;
    padding: 0.7rem 2rem;
    border: 2px solid $cta;

    i {
      margin-left: 0.5rem;
    }

    &:hover, &:focus {
      background-color: $white;
      color: $cta;
    }
  }
}

.container-fluid {
  padding: 0;
}

.bg-light {
  background: $bg-light;
}

.banner {
  background: $blue;
  padding: 2rem;
  margin-bottom: 4rem;

  h1, p {
    color: $white;
  }

  p {
    font-size: 1.2rem;
  }
}

.intro {
  margin-bottom: 4rem;
}

.project {
  padding: 2rem;
  position: relative;

  h2, p {
    padding-right: 2rem;
  }

  .arrow {
    position: relative;
    right: -50px;
    top: -10px;
  }

  .image {
    height: 20rem;
    width: 20rem;
    border-radius: 20rem;
    margin: 0 2rem;
    border: 2px solid $white;


    &:hover, &:focus {
      border: 2px solid $cta;
    }
  }
}
