@font-face {
  font-family: AmaticRegular;
  src: url('../fonts/AmaticSC-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: LatoRegular;
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: AmaticRegular;
  color: $text;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-family: LatoRegular;
  color: $text;
  font-size: 1.1rem;
}

a {
  color: $cta;
  font-family: LatoRegular;
  padding-bottom: 3px;

  &:hover, &:focus {
    color: darken($cta, 15%);
    text-decoration: none;
    border-bottom: 1px dotted $cta;
  }
}
